{% extends 'base.html.twig' %}

{% block title %}Organizations{% endblock %}

{% block body %}
    <h1>Organizations</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ organization.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ organization.name }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ organization.address }}</td>
            </tr>
            <tr>
                <th>PhoneNumber</th>
                <td>{{ organization.phoneNumber }}</td>
            </tr>
            <tr>
                <th>WebsiteUrl</th>
                <td>{{ organization.websiteUrl }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ organization.email }}</td>
            </tr>
            <tr>
                <th>SocialMedia</th>
                <td>{{ organization.socialMedia }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_organizations_index') }}">back to list</a>

    <a href="{{ path('app_organizations_edit', {'id': organization.id}) }}">edit</a>

    {{ include('organizations/_delete_form.html.twig') }}
{% endblock %}
